<div class="container-fluid">
  <div class="row">
   <div class="col">

    <ul class="nav nav-justified">
      <li class="nav-item"><button class="btn btn-primary" (click)="onSelect()">Tabla1</button></li>
      <li class="nav-item"><a href="#" class="nav-link border btn-primary">Tabla2</a></li>
      <li class="nav-item"><a href="#" class="nav-link border btn-primary">Tabla3</a></li>
      <li class="nav-item"><a href="#" class="nav-link border btn-primary">Tabla4</a></li>
    </ul>
    </div>
  </div>
</div>